doctype html
html
    head
        mata(charset='utf-8')
    body
        h1
            p
                a(href='/login') login success
                a       #{_username}
            p   
                a(href='/login/signout') Log out

