doctype html
html
    head
        mata(charset='utf-8')
    body
        h1
            a(herf='/login') federal authority Example.. 

    acticle
        form(action="/login", method='post')
            p
                input(type='text', name='username',placeholder='username' )
            p
                input(type='password', name='password',placeholder='password' )
            p
                input(type='submit', value='login')